- css_class = (skill.played? ? 'played' : 'etc')
- unless mobile?
  %tr{:class => css_class}
    - if skill.rp_target?
      %th.number.target= row
    - else
      %th.number= row
    %td.title.text
      - if edit
        = haml :music_title, :locals => {:music => skill.course, :link_uri => skill.edit_uri}
      - else
        = skill.course.title
    - unless skill.played?
      %td.status{:colspan => 5} 記録なし
    - else
      %td.mark= skill.course.level_to_s
      - if skill.cleared?
        %td.mark ○
      - else
        %td.mark ×
      %td.point= skill.point_to_s
      - if !CxbRank::SiteSettings.rev_sunrise_mode?
        %td.rate= skill.rate_to_s
      - else
        %td.rate
          = haml :rate, :locals => {:skill => skill}
      %td.mark= CxbRank::SP_COMBO_STATUSES[skill.combo]
    %td.comment= Rinku.auto_link(escape_html skill.comment)
- else
  - row_count = (skill.comment.present? ? 3 : 2)
  %tr{:class => css_class}
    - if skill.rp_target?
      %th.number.target{:rowspan => row_count}= row
    - else
      %th.number{:rowspan => row_count}= row
    %td.title{:colspan => 4}
      - if edit
        = haml :music_title, :locals => {:music => skill.course, :link_uri => skill.edit_uri}
      - else
        = skill.course.title
  %tr{:class => css_class}
    - unless skill.played?
      %td.status{:colspan => 5} 記録なし
    - else
      - if skill.cleared?
        %td.mark ○
      - else
        %td.mark ×
      %td.point= skill.point_to_s
      - if !CxbRank::SiteSettings.rev_sunrise_mode?
        %td.rate= skill.rate_to_s
      - else
        %td.rate
          = haml :rate, :locals => {:skill => skill}
      %td.mark= CxbRank::SP_COMBO_STATUSES[skill.combo]
  - if skill.comment.present?
    %tr{:class => css_class}
      %td.comment{:colspan => 4}= Rinku.auto_link(escape_html skill.comment)
