- bonus = (type == CxbRank::MUSIC_TYPE_REV_BONUS)
- if bonus
  - target_diff = CxbRank::MUSIC_DIFF_UNL
  - css_class = ((ignore_locked or !skill.locked(target_diff)) ? CxbRank::MUSIC_DIFF_CLASSES[target_diff] : 'etc')
- else
  - target_diff = skill.target_diff
  - css_class = ((ignore_locked or skill.target_diff == skill.best_diff) ? CxbRank::MUSIC_DIFF_CLASSES[target_diff] : 'etc')
- unless mobile?
  %tr{:class => css_class}
    - if skill.rp_target? and !bonus
      %th.number.target= row
    - else
      %th.number= row
    %td.title
      - if edit
        = haml :music_title, :locals => {:music => skill.music, :link_uri => skill.edit_uri}
      - else
        = haml :music_title, :locals => {:music => skill.music}
      - if target_diff and skill.legacy(target_diff)
        [旧]
      - if target_diff and skill.locked(target_diff)
        = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
      - if target_diff
        - if skill.survival?(target_diff)
          = image_tag CxbRank::SiteSettings.join_site_image_base('survival.png'), :alt => '[S]', :height => 12
        - elsif skill.ultimate?(target_diff)
          = image_tag CxbRank::SiteSettings.join_site_image_base('ultimate.png'), :alt => '[U]', :height => 12
    - if !target_diff or !skill.cleared?(target_diff)
      %td.status{:colspan => 6} 記録なし
    - else
      %td.level
        = "[#{CxbRank::SiteSettings.music_diffs[target_diff]}]"
        - if skill.legacy(target_diff)
          = "#{skill.music.legacy_level_to_s(target_diff)}"
        - else
          = "#{skill.music.level_to_s(target_diff)}"
      %td.point
        - if bonus
          = skill.point_bonus_to_s(target_diff)
        - else
          = skill.point_to_s(target_diff)
      %td.rate
        = haml :rate, :locals => {:skill => skill, :diff => target_diff}
      %td.rate= skill.u_rate_to_s(target_diff)
      %td.mark= CxbRank::SP_RANK_STATUSES[skill.rank(target_diff)]
      %td.mark= CxbRank::SP_COMBO_STATUSES[skill.combo(target_diff)]
    %td.text= Rinku.auto_link(escape_html skill.comment)
- else
  - row_count = (skill.comment.present? ? 3 : 2)
  %tr{:class => css_class}
    - if skill.rp_target? and !bonus
      %th.number.target{:rowspan => row_count}= row
    - else
      %th.number{:rowspan => row_count}= row
    %td.title{:colspan => 5}
      - if edit
        = haml :music_title, :locals => {:music => skill.music, :link_uri => skill.edit_uri}
      - else
        = haml :music_title, :locals => {:music => skill.music}
      - if target_diff and skill.legacy(target_diff)
        [旧]
      - if target_diff and skill.locked(target_diff)
        = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
      - if target_diff
        - if skill.survival?(target_diff)
          = image_tag CxbRank::SiteSettings.join_site_image_base('survival.png'), :alt => '[S]', :height => 12
        - elsif skill.ultimate?(target_diff)
          = image_tag CxbRank::SiteSettings.join_site_image_base('ultimate.png'), :alt => '[U]', :height => 12
  %tr{:class => css_class}
    - if !target_diff or !skill.cleared?(target_diff)
      %td.status{:colspan => 5} 記録なし
    - else
      %td.level= CxbRank::SiteSettings.music_diffs[target_diff]
      %td.point
        - if bonus
          = skill.point_bonus_to_s(target_diff)
        - else
          = skill.point_to_s(target_diff)
      %td.rate
        = haml :rate, :locals => {:skill => skill, :diff => target_diff}
      %td.mark= CxbRank::SP_RANK_STATUSES[skill.rank(target_diff)]
      %td.mark= CxbRank::SP_COMBO_STATUSES[skill.combo(target_diff)]
  - if skill.comment.present?
    %tr{:class => css_class}
      %td.comment{:colspan => 5}= Rinku.auto_link(escape_html skill.comment)
