- base_uri = "#{request.scheme}://#{request.host}"
- unless mobile?
  %div.unit
    %div.subunit
      %table
        %tbody
          %tr
            %th ユーザー名
            %td.text&= user.name
          - if edit and user.display
            %tr
              %th RP表公開URL
              %td.text
                #{link_to File.join(base_uri, user.skill_view_uri), user.skill_view_uri}
                %br
                #{link_to File.join(base_uri, user.skill_ignore_uri), user.skill_ignore_uri}（未取得/ロックフラグ無視版）
            %tr
              %th クリア表公開URL
              %td.text
                #{link_to File.join(base_uri, user.skill_chart_uri), user.skill_chart_uri}
          - if user.game_id.present? and (CxbRank::SiteSettings.cxb_mode? or user.game_id_display)
            %tr
              - if CxbRank::SiteSettings.cxb_mode?
                %th C&times;B ID
              - else
                %th REV.ユーザーID
              %td.text= user.game_id
          - if user.comment.present?
            %tr
              %th コメント
              %td.text= multiline(user.comment, true)
      - if edit
        #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_EDIT_URI], CxbRank::SiteSettings.join_site_base(CxbRank::USER_EDIT_URI)}
        - if CxbRank::SiteSettings.cxb_mode?
          & /
          #{link_to CxbRank::PAGE_TITLES[CxbRank::IMPORT_CSV_URI], CxbRank::SiteSettings.join_site_base(CxbRank::IMPORT_CSV_URI)}
        & /
        #{link_to CxbRank::PAGE_TITLES[CxbRank::EXPORT_CSV_URI], CxbRank::SiteSettings.join_site_base(CxbRank::EXPORT_CSV_URI)}
        - if CxbRank::SiteSettings.adversary_enabled?
          & /
          アドバーサリー:
          #{link_to CxbRank::PAGE_TITLES[CxbRank::ADVERSARY_FOLLOWINGS_URI], CxbRank::SiteSettings.join_site_base(CxbRank::ADVERSARY_FOLLOWINGS_URI), class: CxbRank::POPUP_ANCHOR_CLASS}
          & /
          #{link_to CxbRank::PAGE_TITLES[CxbRank::ADVERSARY_FOLLOWERS_URI], CxbRank::SiteSettings.join_site_base(CxbRank::ADVERSARY_FOLLOWERS_URI), class: CxbRank::POPUP_ANCHOR_CLASS}
      - else
        - if request.path_info =~ Regexp.new(CxbRank::SKILL_LIST_VIEW_URI)
          通常RP表
        - else
          #{link_to '通常RP表', user.skill_view_uri}
        & /
        - if request.path_info =~ Regexp.new(CxbRank::SKILL_LIST_VIEW_IGLOCK_URI)
          ロック状態無視RP表
        - else
          #{link_to 'ロック状態無視RP表', user.skill_ignore_uri}
        - if CxbRank::SiteSettings.rev_mode?
          & /
          - if request.path_info =~ Regexp.new(CxbRank::CLEAR_LIST_VIEW_URI)
            クリア状況表
          - else
            #{link_to 'クリア状況表', user.skill_chart_uri}
- else
  - if edit
    %p
      #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_EDIT_URI], CxbRank::SiteSettings.join_site_base(CxbRank::USER_EDIT_URI)}
      & /
      #{link_to CxbRank::PAGE_TITLES[CxbRank::CLEAR_LIST_VIEW_URI], user.skill_chart_uri}
    - if CxbRank::SiteSettings.adversary_enabled?
      %p
        アドバーサリー:
        #{link_to CxbRank::PAGE_TITLES[CxbRank::ADVERSARY_FOLLOWINGS_URI], CxbRank::SiteSettings.join_site_base(CxbRank::ADVERSARY_FOLLOWINGS_URI), class: CxbRank::POPUP_ANCHOR_CLASS}
        & /
        #{link_to CxbRank::PAGE_TITLES[CxbRank::ADVERSARY_FOLLOWERS_URI], CxbRank::SiteSettings.join_site_base(CxbRank::ADVERSARY_FOLLOWERS_URI), class: CxbRank::POPUP_ANCHOR_CLASS}
