- form_for user, action, :method => 'post' do |f|
  %p <em>*印</em>がついている項目は入力必須項目です。ここで入力した項目はユーザー登録後も変更可能です。
  %dl
    - if user.id
      %dt ユーザーID
      %dd= user.user_id
    %dt ユーザー名 <em>*</em>（文字種の制限はありません。全角文字OKです）
    %dd
      = f.text_field :name, :size => 30, :maxlength => 30
    - if user.id
      %dt パスワード（変更しない場合は空欄にしてください）
      %dd
        = f.password_field :password, :size => 20, :maxlength => 50, :value => (user.password_changed? ? user.password : '')
      %dt 確認用パスワード（変更しない場合は空欄にしてください）
      %dd
        = f.password_field :password_confirmation, :size => 20, :maxlength => 50, :value => ''
    - else
      %dt パスワード <em>*</em>
      %dd
        = f.password_field :password, :size => 20, :maxlength => 50
      %dt 確認用パスワード <em>*</em>
      %dd
        = f.password_field :password_confirmation, :size => 20, :maxlength => 50
    - if CxbRank::SiteSettings.cxb_mode?
      %dt CROSS&times;BEAT ID（公開しない場合は空欄にしてください）
      %dd
        = f.text_field :game_id, :size => 8, :maxlength => 8, :class => :game_id, :pattern => '\d*'
    - else
      %dt REV.ユーザーID（MY DATAからのデータインポートに使用します）
      %dd
        = f.text_field :game_id, :size => 8, :maxlength => 8, :class => :game_id, :pattern => '\d*'
        %label
          = f.check_box :game_id_display
          REV.ユーザーIDを公開する
      - if user.id
        %dt 実RP <em>*</em>
        %dd
          = f.text_field :point, :size => '2000.00'.size, :maxlength => '2000.00'.size, :value => (user.point ? sprintf('%.2f', user.point) : '')
    %dt ユーザーコメント（HTMLタグによる文字装飾はできません。URLには自動的にリンクが設定されます）
    %dd
      - underscored_id = "#{underscore(CxbRank::User)}_comment"
      - underscored_name = "#{underscore(CxbRank::User)}[comment]"
      %textarea.comment{:id => underscored_id, :name => underscored_name, :rows => 6}= user.comment
    %dt 削除曲などの表示設定
    %dd
      %label
        = f.check_box :whole
        通常プレイできない曲（削除曲+期間限定曲）の記録も公開する
      - if CxbRank::SiteSettings.rev_sunrise_mode?
        %br
        %label
          = f.check_box :legacy
          オフライン移行時（#{CxbRank::SiteSettings.service_end.strftime('%Y/%-m/%d')}）に削除された曲を削除曲と扱わない（RP計算に含める）
    %dt RP表の公開設定（チェックをはずすと他人からRP表が見えなくなり、ユーザー一覧にも載らなくなります）
    %dd
      %label
        = f.check_box :display
        RP表を公開する
    - if defined? user.rank_tops
      %dt 単曲RPの表示範囲設定
      %dd
        = f.select :rank_tops, :options => CxbRank::RANK_TOPS_OPTIONS, :selected => (user.rank_tops || -1)
  %p
    = f.submit '次へ進む'
    = input_tag :reset, :value=> '入力リセット'
