%div.unit
  %h2 ログイン
  %div.subunit
    %dl
      %dt ■ユーザー登録済の方
      %dd
        - form_tag CxbRank::SiteSettings.join_site_base(CxbRank::USER_LOGIN_URI) do
          %p
            = label_tag :user_id, :caption => 'ユーザーID: '
            = text_field_tag :user_id, :id => :user_id, :size => CxbRank::USER_ID_FIGURE, :maxlength => CxbRank::USER_ID_FIGURE
          %p
            = label_tag :password, :caption => 'パスワード: '
            = password_field_tag :password, :id => :password ,:size => 12, :maxlength => 80
          = submit_tag 'ログイン'
      %dt ■ユーザー未登録の方
      %dd
        %ul
          %li #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_ADD_URI], CxbRank::SiteSettings.join_site_base(CxbRank::USER_ADD_URI)}
%div.unit
  %h2 使い方案内
  %div.subunit
    %ul
      %li
        #{link_to CxbRank::PAGE_TITLES[CxbRank::USAGE_URI], CxbRank::SiteSettings.join_site_base(CxbRank::USAGE_URI)}
        %ul
          - if CxbRank::SiteSettings.rev_mode?
            %li #{link_to 'データ更新ブックマークレット', "#{CxbRank::SiteSettings.join_site_base(CxbRank::USAGE_URI)}#bookmarklet"}
          - else
            %li #{link_to '一括登録 @ Googleスプレッド', "#{CxbRank::SiteSettings.join_site_base(CxbRank::USAGE_URI)}#spread"}
%div.unit
  %h2 登録ユーザーリスト
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_LIST_URI], CxbRank::SiteSettings.join_site_base(CxbRank::USER_LIST_URI)}
%div.unit
  %h2 登録曲リスト
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::MUSIC_LIST_VIEW_URI], CxbRank::SiteSettings.join_site_base(CxbRank::MUSIC_LIST_VIEW_URI)}
%div.unit
  %h2 理論値ランクポイント表
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::MAX_SKILL_VIEW_URI], CxbRank::SiteSettings.join_site_base(CxbRank::MAX_SKILL_VIEW_URI)}
%div.unit
  %h2 その他ツール
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::RANK_CALC_URI], CxbRank::SiteSettings.join_site_base(CxbRank::RANK_CALC_URI)}
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::RATE_CALC_URI], CxbRank::SiteSettings.join_site_base(CxbRank::RATE_CALC_URI)}
      %li
        #{link_to CxbRank::PAGE_TITLES[CxbRank::EVENT_SHEET_LIST_URI], CxbRank::SiteSettings.join_site_base(CxbRank::EVENT_SHEET_LIST_URI)}
        %ul
          - events = CxbRank::Event.where('span_s <= ? and span_e >= ?', Time.now, Time.now)
          - events.each do |event|
            %li #{link_to event.title, File.join(CxbRank::SiteSettings.join_site_base(CxbRank::EVENT_SHEET_VIEW_URI), event.text_id)}
