%div.unit
  %h2 ログイン
  %div.subunit
    %dl
      %dt ■ユーザー登録済の方
      %dd
        - form_tag CxbRank::USER_LOGIN_URI do
          %p
            = label_tag :user_id, :caption => 'ユーザーID: '
            = text_field_tag :user_id, :id => :user_id, :size => CxbRank::USER_ID_FIGURE, :maxlength => CxbRank::USER_ID_FIGURE
          %p
            = label_tag :password, :caption => 'パスワード: '
            = password_field_tag :password, :id => :password ,:size => 12, :maxlength => 80
          = submit_tag 'ログイン'
      %dt ■ユーザー未登録の方
      %dd
        %ul
          %li #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_ADD_URI], CxbRank::USER_ADD_URI}
%div.unit
  %h2 登録ユーザーリスト
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::USER_LIST_URI], CxbRank::USER_LIST_URI}
%div.unit
  %h2 登録曲リスト
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::MUSIC_LIST_VIEW_URI], CxbRank::MUSIC_LIST_VIEW_URI}
%div.unit
  %h2 理論値ランクポイント表
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::MAX_SKILL_VIEW_URI], CxbRank::MAX_SKILL_VIEW_URI}
%div.unit
  %h2 その他ツール
  %div.subunit
    %ul
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::RANK_CALC_URI], CxbRank::RANK_CALC_URI}
      %li #{link_to CxbRank::PAGE_TITLES[CxbRank::RATE_CALC_URI], CxbRank::RATE_CALC_URI}
