= haml :navi
%h1= settings.site_name
%div.sidebar
  = haml :common_sidebar
  %div.unit
    %h2 リンク
    %div.subunit
      %dl
        %dt ■公式サイト
        %dd
          %ul
            %li #{link_to '公式サイト', 'http://www.capcom.co.jp/smartphone/crossbeats/'}
            %li #{link_to '運営サイト', 'http://game.capcom.co.jp/crossbeats'}
        %dt ■Wiki/個人サイト
        %dd
          %ul
            %li #{link_to '【iOS】 CROSS×BEATS クロスビーツ 攻略wiki', 'http://crossxbeats.wiki.fc2.com/'}
            %li #{link_to 'MapWiki - CROSS×BEATS', 'http://wiki.maplia.jp/?CROSS%C3%97BEATS'}
%div.main
  %div.unit
    %h2 このサイトについて
    %div.subunit
      %dl
        %dt これは何ですか?
        %dd
          %p #{link_to 'カプコン', 'http://www.capcom.co.jp/'}から配信されている「#{link_to 'CROSS&times;BEATS（クロスビーツ）', 'http://www.capcom.co.jp/smartphone/crossbeats/'}」のランクポイント管理Webアプリケーションです。
          %p RPシステムがV時代のギタドラに似た仕様になっているので、#{link_to 'CSギタドラスキル表', 'http://gfdmmix.maplia.jp/'}を改造して作成しました。使い方もおおむね同じです。
          %p こういう表が作れるということで#{link_to '作者のもの', '/view/00002'}をさらしてみます。
          %p 登録はご自由にどうぞ。
          %p 何か不都合があった場合などの問い合わせは、Twitterのアカウント #{link_to '@maplia', 'https://twitter.com/maplia'}で受けつけますので、お気軽にご連絡いただければと思います。
        %dt 一括入力スプレッドシート
        %dd
          %p iOS版「CROSS&times;BEATS」では、「#{link_to 'crossbeats REV.', 'http://www.capcom.co.jp/arcade/rev/'}」のようにWebからブックマークレットなどを利用した一括登録はできないため、その代替としてスプレッドシートでの一括入力の機能を実装しました。
          %p 詳しくはスプレッドシートでの説明を参照してください。
          %p #{link_to 'https://docs.google.com/spreadsheets/d/13tfrRwrCLgTnGcrzYgS_tqGrs3vMKuDmuWppx1CGUQQ', 'https://docs.google.com/spreadsheets/d/13tfrRwrCLgTnGcrzYgS_tqGrs3vMKuDmuWppx1CGUQQ'}
          %p 動作確認はWindows10のFirefox最新版で行っています。いまのところPCからのみの対応です
  %div.unit
    %h2 最近の登録曲
    %div.subunit
      = haml :new_music
  %div.unit
    %h2 最新の運営情報
    %div.subunit
      = yield
