= haml :navi
%h1= settings.site_name
%div.sidebar
  = haml :common_sidebar
  %div.unit
    %h2 リンク
    %div.subunit
      %dl
        %dt ■公式サイト
        %dd
          %ul
            %li #{link_to '公式サイト', 'http://www.capcom.co.jp/arcade/rev/'}
        %dt ■Wiki/個人サイト
        %dd
          %ul
            %li #{link_to 'crossbeats REV.Wiki', 'http://crossbeatsrev.wiki.fc2.com/'}
            %li #{link_to 'MapWiki - crossbeats REV.', 'http://wiki.maplia.jp/?crossbeats%20REV.'}
%div.main
  %div.unit
    %h2 このサイトについて
    %div.subunit
      %dl
        %dt これは何ですか?
        %dd
          %p #{link_to 'カプコン', 'http://www.capcom.co.jp/'}から配信されている「#{link_to 'CROSS&times;BEATS（クロスビーツ）', 'http://www.capcom.co.jp/smartphone/crossbeats/'}」のランクポイント管理Webアプリケーションです。
          %p RPシステムがV時代のギタドラに似た仕様になっているので、#{link_to 'CSギタドラスキル表', 'http://gfdmmix.maplia.jp/'}を改造して作成しました。使い方もおおむね同じです。
          %p こういう表が作れるということで#{link_to '作者のもの', '/view/00002'}をさらしてみます。
          %p 登録はご自由にどうぞ。
  %div.unit
    %h2 最新の運営情報
    %div.subunit
      = yield
