<% css_class = (id ? 'played' : 'etc') %>

<% unless $mobile %>
  <tr class="<%= css_class %>">
    <th class="number <%= rp_target? ? 'st' : 'sn' %>"><%= row.to_s %></th>
    <td class="title text">
      <% if edit %>
        <a href="<%= edit_uri %>"><%= course.name %></a>
      <% else %>
        <%= course.name %>
      <% end %>
    </td>
    <% unless cleared? %>
      <td colspan="4" class="none">記録なし</td>
    <% else %>
      <td class="level"><%= course.level_to_s %></td>
      <td class="number"><%= point_to_s %></td>
      <td class="number"><%= rate_to_s %></td>
      <td class="mark"><%= SP_COMBO_STATUSES[combo] %></td>
    <% end %>
    <td class="text"><%= Rinku.auto_link(h(comment)) %></td>
  </tr>
<% else %>
  <% row_count = ((comment || '').size.nonzero? ? 3 : 2) %>

  <tr class="<%= css_class %>">
    <th rowspan="<%= row_count %>" class="number <%= rp_target? ? 'st' : 'sn' %>"><%= row.to_s %></th>
    <td colspan="4" class="title text">
      <% if edit %>
        <a href="<%= edit_uri %>"><%= course.name %></a>
      <% else %>
        <%= course.name %>
      <% end %>
    </td>
  </tr>
  <tr class="<%= css_class %>">
    <% unless cleared? %>
      <td colspan="4" class="none">記録なし</td>
    <% else %>
      <td class="level"><%= course.level_to_s %></td>
      <td class="number"><%= point_to_s %></td>
      <td class="number"><%= rate_to_s %></td>
      <td class="mark"><%= SP_COMBO_STATUSES[combo] %></td>
    <% end %>
  </tr>
  <% if (comment || '').size.nonzero? %>
    <tr class="<%= css_class %>">
      <td class="text" colspan="4"><%= Rinku.auto_link(h(comment)) %></td>
    </tr>
  <% end %>
<% end %>
