<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; <a href="<%= SKILL_LIST_EDIT_URI %>">ランクポイント表</a> &gt; ランクポイント編集</p>
<h1>ランクポイント編集確認 <small>[<%= skill.course.name %>]</small></h1>

<form method="post" action="<%= SKILL_COURSE_ITEM_EDIT_URI %>">
	<div class="unit">
		<h2>入力情報</h2>
		<div class="subunit">
			<% if @session[:operation] == OPERATION_UPDATE %>
				<%= skill.to_html_confirm(before_skill) %>
			<% else %>
				<%= skill.to_html_confirm %>
			<% end %>
		</div>
	</div>

	<% if @session[:operation] == OPERATION_UPDATE %>
		<p>以上のプレイ情報を登録します。<br/>よろしいですか?</p>
	<% else %>
		<p>以上のプレイ情報を削除します。<br/>よろしいですか?</p>
	<% end %>
	<p>
		<input type="submit" name="y" value="はい">
		<input type="submit" name="n" value="いいえ">
	</p>
</form>
