<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; <a href="<%= SKILL_LIST_EDIT_URI %>">ランクポイント表</a> &gt; ユーザー情報編集</p>
<h1><%= $mobile ? '' : $config.name %> ユーザー情報編集確認</h1>

<form method="post" action="<%= USER_EDIT_URI %>">
	<div class="unit">
		<h2>入力情報</h2>

		<div class="subunit">
			<%= user.to_html_confirm %>
		</div>

		<p>以上のユーザー情報を登録します。よろしいですか?</p>
		<p>
			<input type="submit" name="y" value="はい"/>
			<input type="submit" name="n" value="戻る"/>
		</p>
	</div>
</form>
