<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; <a href="<%= SKILL_LIST_EDIT_URI %>">ランクポイント表</a> &gt; ユーザー情報編集</p>
<h1><%= $mobile ? '' : $config.name %> ユーザー情報編集</h1>
<form method="post" action="<%= USER_EDIT_URI %>">
  <p><em>*印</em>がついている項目は入力必須項目です。</p>
  <%= user.to_html_edit %>
  <p>
    <input type="submit" value="次へ進む"/>
    <input type="reset" value="入力リセット"/>
  </p>
</form>
