%table.skill_conf
  - unless mobile?
    %thead
      %tr
        %th{:colspan => 2} レベル
        %th.locked
          = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
        %th.gauge
          - if CxbRank::SiteSettings.rev_mode?
            = image_tag CxbRank::SiteSettings.join_site_image_base('survival.png'), :alt => 'S', :height => 12
          = image_tag CxbRank::SiteSettings.join_site_image_base('ultimate.png'), :alt => 'U', :height => 12
        %th.point RP
        - if defined? prev_skill
          %th.point 差異
        %th.rate RATE
        - if CxbRank::SiteSettings.rev_mode?
          %th.u_rate S/U
        - else
          %th.u_rate ULT
        %th.rank ランク
        %th.combo コンボ
        - if CxbRank::SiteSettings.cxb_mode?
          %th.score スコア
  %tbody
    - CxbRank::SiteSettings.music_diffs.keys.sort.each do |diff|
      - next unless skill.music.exist?(diff)
      - unless mobile?
        %tr{:class => "#{CxbRank::MUSIC_DIFF_CLASSES[diff]} diff"}
          %th.diff
            = CxbRank::SiteSettings.music_diffs[diff]
            - if skill.legacy(diff)
              [旧]
          %td.level
            - if skill.legacy(diff)
              = skill.music.legacy_level_to_s(diff)
            - else
              = skill.music.level_to_s(diff)
          %td.mark
            - if skill.locked(diff)
              = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
          %td.mark
            - if skill.survival?(diff)
              = image_tag CxbRank::SiteSettings.join_site_image_base('survival.png'), :alt => '[S]', :height => 12
            - elsif skill.ultimate?(diff)
              = image_tag CxbRank::SiteSettings.join_site_image_base('ultimate.png'), :alt => '[U]', :height => 12
          %td.point= skill.point_to_s(diff)
          - if defined? prev_skill
            - difference = (skill.point(diff) || 0.0) - (prev_skill.point(diff) || 0.0)
            - if difference == 0.0
              %td.point &plusmn;0.00
            - else
              - difference_class = (difference > 0.0 ? 'inc' : 'dec')
              %td{:class => "point #{difference_class}"}= sprintf('%+.2f', difference)
          - unless skill.cleared?(diff)
            - if CxbRank::SiteSettings.cxb_mode?
              %td.status{:colspan => 5}= CxbRank::SP_STATUSES[skill.stat(diff)]
            - else
              %td.status{:colspan => 4}= CxbRank::SP_STATUSES[skill.stat(diff)]
          - else
            %td.rate
              = haml :rate, :locals => {:skill => skill, :diff => diff}
            %td.rate= skill.u_rate_to_s(diff)
            %td.mark= CxbRank::SP_RANK_STATUSES[skill.rank(diff)]
            %td.mark= CxbRank::SP_COMBO_STATUSES[skill.combo(diff)]
            - if CxbRank::SiteSettings.cxb_mode?
              %td.score= skill.score(diff)
      - else
        %tr{:class => CxbRank::MUSIC_DIFF_CLASSES[diff]}
          %th.diff{:rowspan => 2}
            = CxbRank::SiteSettings.music_diffs[diff]
            - if skill.legacy(diff)
              [旧]
          %td.point
            - if skill.locked(diff)
              = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
            = skill.point_to_s(diff)
          - unless skill.cleared?(diff)
            %td.status{:rowspan => 2, :colspan => 2}= CxbRank::SP_STATUSES[skill.stat(diff)]
          - else
            %td.rate{:colspan => 2}
              - if skill.survival?(diff)
                = image_tag CxbRank::SiteSettings.join_site_image_base('survival.png'), :alt => '[S]', :height => 12
              - if skill.ultimate?(diff)
                = image_tag CxbRank::SiteSettings.join_site_image_base('ultimate.png'), :alt => '[U]', :height => 12
              = haml :rate, :locals => {:skill => skill, :diff => diff}
              - if (skill.u_rate(diff) || 0.0) > 0.0
                = "(U: #{skill.u_rate_to_s(diff)})"
        %tr{:class => CxbRank::MUSIC_DIFF_CLASSES[diff]}
          %td.score
            = skill.score(diff)
          - if skill.cleared?(diff)
            %td.rank= CxbRank::SP_RANK_STATUSES[skill.rank(diff)]
            %td.combo= CxbRank::SP_COMBO_STATUSES[skill.combo(diff)]
- if skill.comment.present?
  %p
    コメント:
    &= skill.comment
