- unless mobile?
  %tr
    %th= user.user_id
    %td.text
      %a{:href => user.skill_view_uri}
        &= truncate(user.name, :length => 15)
    %td.number
      - if user.game_id.present? and user.game_id_display 
        = user.game_id
    %td.number
      - if user.point
        = sprintf("%.2f", user.point)
    %td.text{:style => 'width: 17em'}
      &= truncate(user.comment, :length => 100)
    %td= user.point_updated_at.strftime("%Y-%m-%d %H:%M:%S")
- else
  %tr
    %td.name
      %a{:href => user.skill_view_uri}
        &= truncate(user.name, :length => 8)
    %td.game_id
      - if user.game_id.present? and user.game_id_display
        = user.game_id
    %td.point
      - if user.point
        = sprintf("%.2f", user.point)
  %tr
    %td.comment{:colspan => 3}
      - if user.comment.blank?
        &nbsp;
      - else
        &= truncate(user.comment, :length => 30)
