:javascript
  $(function() {
    set_adversary_linktext(false);
  });
- unless mobile?
  %tr
    %th= user.user_id
    %td.text
      %a{:href => user.skill_view_uri}
        = user.name.truncate(10)
    %td.game_id
      - if user.game_id.present? and (CxbRank::SiteSettings.cxb_mode? or user.game_id_display)
        = user.game_id
    %td.point
      - if user.point
        = sprintf("%.2f", user.point)
    %td.text{:style => 'width: 17em'}
      = (user.comment || '').truncate(100)
    %td= user.point_updated_at.strftime("%Y-%m-%d %H:%M:%S")
    - if session_user and session_user != user and CxbRank::SiteSettings.adversary_enabled?
      %td
        - to_status = !CxbRank::Adversary.registered?(session_user, user)
        - link_text = (!to_status ? "#{CxbRank::ADVERSARY_LINKTEXTS[:remove][mobile?]}" : "#{CxbRank::ADVERSARY_LINKTEXTS[:register][mobile?]}")
        - adversary_id = user.user_id
        %a{:href => 'javascript:void(0)', :id => "adversary_edit_#{adversary_id}", :onClick => "edit_adversary_status('#{adversary_id}'); return false"}= link_text
- else
  %tr
    %td.name
      %a{:href => user.skill_view_uri}
        = user.name.truncate(6)
    %td.game_id
      - if user.game_id.present? and (CxbRank::SiteSettings.cxb_mode? or user.game_id_display)
        = user.game_id
    %td.point
      - if user.point
        = sprintf("%.2f", user.point)
  %tr
    %td.comment{:colspan => 3}
      - if user.comment.blank?
        &nbsp;
      - else
        = (user.comment || '').truncate(30)
