- unless mobile?
  %tr
    %th= user.user_id
    %td.text
      %a{:href => user.skill_view_uri}
        = user.name.truncate(10)
    %td.game_id
      - if user.game_id.present? and (CxbRank::SiteSettings.cxb_mode? or user.game_id_display)
        = user.game_id
    %td.point
      - if user.point
        = sprintf("%.2f", user.point)
    %td.text{:style => 'width: 17em'}
      = (user.comment || '').truncate(100)
    %td= user.point_updated_at.strftime("%Y-%m-%d %H:%M:%S")
- else
  %tr
    %td.name
      %a{:href => user.skill_view_uri}
        = user.name.truncate(6)
    %td.game_id
      - if user.game_id.present? and (CxbRank::SiteSettings.cxb_mode? or user.game_id_display)
        = user.game_id
    %td.point
      - if user.point
        = sprintf("%.2f", user.point)
  %tr
    %td.comment{:colspan => 3}
      - if user.comment.blank?
        &nbsp;
      - else
        = (user.comment || '').truncate(30)
