= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI, CxbRank::SKILL_LIST_EDIT_URI]}
%h1
  = "#{page_title}確認"
  %small= "[#{curr_skill.course.title}]"
%div.unit
  %h2 入力情報
  %div.subunit
    = haml :skill, :locals => {:prev_skill => curr_skill, :skill => temp_skill}
- org_method = method.dup
- form_tag CxbRank::SiteSettings.join_site_base(CxbRank::SKILL_COURSE_ITEM_EDIT_URI), :method => method do
  - params[underscore(CxbRank::PlayData::CourseSkill)].each do |key, value|
    = hidden_field_tag "#{underscore(CxbRank::PlayData::CourseSkill)}[#{key}]".to_sym, :value => value
  - if org_method == 'put'
    %p 以上のプレイ情報を登録します。よろしいですか?
  - else
    %p 以上のプレイ情報を削除します。よろしいですか?
  = submit_tag 'はい', :name => 'y'
  = submit_tag 'いいえ', :name => 'n'
