<% if bonus %>
	<% css_class = (@@ignore_locked or !locked?(MUSIC_DIFF_UNL)) ? $config.music_diffs[MUSIC_DIFF_UNL].downcase : 'etc' %>
	<% active_diff = MUSIC_DIFF_UNL %>
<% else %>
	<% css_class = (target_diff and (@@ignore_locked or target_diff == best_diff)) ? $config.music_diffs[target_diff].downcase : 'etc' %>
	<% active_diff = target_diff %>
<% end %>

<% unless $mobile %>
	<tr class="<%= css_class %>">
		<th class="number <%= rp_target? ? 'st' : 'sn' %>"><%= row.to_s %></th>
		<td class="title text">
			<% if edit %>
				<% if music.subtitle %>
					<a href="<%= edit_uri %>"><%= music.title %> <small><%= music.subtitle %></small></a>
				<% else %>
					<a href="<%= edit_uri %>"><%= music.title %></a>
				<% end %>
			<% else %>
				<% if music.subtitle %>
					<%= music.title %> <small><%= music.subtitle %></small>
				<% else %>
					<%= music.title %>
				<% end %>
			<% end %>
			<% if active_diff and locked?(active_diff) %>
				<img src="/images/padlock.png" alt="&#x1f512;" height="12"/>
			<% end %>
			<% if active_diff %>
				<% if survival?(active_diff) %>
					<img src="/images/survival.png" alt="[S]" height="12"/>
				<% elsif ultimate?(active_diff) %>
					<img src="/images/ultimate.png" alt="[U]" height="12"/>
				<% end %>
			<% end %>
		</td>
		<% if !active_diff or !cleared?(active_diff) %>
			<td colspan="6" class="none">記録なし</td>
		<% else %>
			<td class="level">
				[<%= $config.music_diffs[active_diff]%>] <%= music.level_to_s(active_diff) %>
			</td>
			<% if bonus %>
				<td class="point"><%= point_bonus_to_s(active_diff) %></td>
			<% else %>
				<td class="point"><%= point_to_s(active_diff) %></td>
			<% end %>
			<td class="number"><%= rate_to_s(active_diff) %></td>
			<td class="number"><%= u_rate_to_s(active_diff) %></td>
			<td class="mark"><%= SP_RANK_STATUSES[rank(active_diff)] %></td>
			<td class="mark"><%= SP_COMBO_STATUSES[combo(active_diff)] %></td>
		<% end %>
		<td class="text"><%= Rinku.auto_link(h(comment)) %></td>
	</tr>
<% else %>
	<% row_count = ((comment || '').size.nonzero? ? 3 : 2) %>

	<tr class="<%= css_class %>">
		<th rowspan="<%= row_count %>" class="number <%= rp_target? ? 'st' : 'sn' %>"><%= row.to_s %></th>
		<td colspan="5" class="title text">
			<% if edit %>
				<% if music.subtitle %>
					<a href="<%= edit_uri %>"><%= music.title %> <small><%= music.subtitle %></small></a>
				<% else %>
					<a href="<%= edit_uri %>"><%= music.title %></a>
				<% end %>
			<% else %>
				<% if music.subtitle %>
					<%= music.title %> <small><%= music.subtitle %></small>
				<% else %>
					<%= music.title %>
				<% end %>
			<% end %>
			<% if active_diff and locked?(active_diff) %>
				<img src="/images/padlock.png" alt="&#x1f512;" height="12"/>
			<% end %>
			<% if active_diff %>
				<% if survival?(active_diff) %>
					<img src="/images/survival.png" alt="[S]" height="12"/>
				<% elsif ultimate?(active_diff) %>
					<img src="/images/ultimate.png" alt="[U]" height="12"/>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr class="<%= css_class %>">
		<% if !active_diff or !cleared?(active_diff) %>
			<td colspan="5" class="none">記録なし</td>
		<% else %>
			<td class="diff"><%= $config.music_diffs[active_diff] %></td>
			<% if bonus %>
				<td class="point"><%= point_bonus_to_s(active_diff) %></td>
			<% else %>
				<td class="point"><%= point_to_s(active_diff) %></td>
			<% end %>
			<td class="rate"><%= rate_to_s(active_diff) %></td>
			<td class="mark"><%= SP_RANK_STATUSES[rank(active_diff)] %></td>
			<td class="mark"><%= SP_COMBO_STATUSES[combo(active_diff)] %></td>
		<% end %>
	</tr>
	<% if (comment || '').size.nonzero? %>
		<tr class="<%= css_class %>">
			<td class="text" colspan="5"><%= Rinku.auto_link(h(comment)) %></td>
		</tr>
	<% end %>
<% end %>
