<table class="conf">
  <% unless $mobile %>
    <thead>
      <tr><th colspan="2">レベル</th>
      <th class="mark"><img src="/images/padlock.png" alt="&#x1f512;" height="12"/></th>
      <th class="mark">S/U</th>
      <th class="point">RP</th>
      <% if before %>
        <th class="diff">差異</th>
      <% end %>
      <th class="rate">RATE</th>
      <% if $config.rev_mode? %>
        <th class="u_rate">S/U</th>
      <% else %>
        <th class="rate">ULT</th>
      <% end %>
      <th>ランク</th><th>コンボ</th>
      </tr>
    </thead>
  <% end %>
  <tbody>
    <% $config.music_diffs.keys.sort.each do |diff| %>
      <% next unless music.exist?(diff) %>

      <% unless $mobile %>
        <tr class="<%= $config.music_diffs[diff].downcase %>">
          <th class="diff"><%= $config.music_diffs[diff] %></th>
          <td><%= music.level_to_s(diff) %></td>
          <td class="mark">
            <% if locked?(diff) %>
              <img src="/images/padlock.png" alt="&#x1f512;" height="12"/>
            <% end %>
          </td>
          <td class="mark">
            <% if survival?(diff) %>
              SURV
            <% elsif ultimate?(diff) %>
              ULT
            <% end %>
          </td>
          <td class="point">
            <%= point_to_s(diff) %>
          </td>
          <% if before %>
            <% difference = (point(diff) || 0.0) - (before.point(diff) || 0.0) %>
            <% if difference == 0.0 %>
              <td class="rate">&ndash;</td>
            <% else %>
              <% diff_class = (difference > 0.0 ? 'inc' : 'dec') %>
              <td class="rate <%= diff_class %>"><%= sprintf('%+.2f', difference) %></td>
            <% end %>
          <% end %>
          <% unless cleared?(diff) %>
            <td colspan="4" class="none"><%= SP_STATUSES[stat(diff)] %></td>
          <% else %>
            <td class="rate"><%= rate_to_s(diff) %></td>
            <td class="u_rate"><%= u_rate_to_s(diff) %></td>
            <td class="mark"><%= SP_RANK_STATUSES[rank(diff)] %></td>
            <td class="mark"><%= SP_COMBO_STATUSES[combo(diff)] %></td>
          <% end %>
        </tr>
      <% else %>
        <tr class="<%= $config.music_diffs[diff].downcase %>">
          <th rowspan="2"><%= $config.music_diffs[diff] %></th>
          <td class="point">
            <%= point_to_s(diff) %>
          </td>
          <% unless cleared?(diff) %>
            <td rowspan="2" colspan="2" class="none"><%= SP_STATUSES[stat(diff)] %></td>
          <% else %>
            <td class="rate" colspan="2">
              <%= rate_to_s(diff) %>
              <% if u_rate(diff) and u_rate(diff) > 0.0 %>
                (<%= u_rate_to_s(diff) %>)
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr class="<%= $config.music_diffs[diff].downcase %>">
          <td class="mark">
            <% unless locked?(diff) or survival?(diff) or ultimate?(diff) %>
              &nbsp;
            <% else %>
              <% if locked?(diff) %>
                <img src="/images/padlock.png" alt="&#x1f512;" height="12"/>
              <% end %>
              <% if survival?(diff) %>
                S
              <% elsif ultimate?(diff) %>
                U
              <% end %>
            <% end %>
          </td>
          <% if cleared?(diff) %>
            <td class="mark"><%= SP_RANK_STATUSES[rank(diff)] %></td>
            <td class="mark"><%= SP_COMBO_STATUSES[combo(diff)] %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if (comment || '').size > 0 %>
  <p>コメント: <%= h comment %></p>
<% end %>
