- diff_class = music_diffs[course_music.diff].downcase
%th.number= course_music.seq
%td.text.title
  = course_music.title
  - if course_music.subtitle
    %small= course_music.subtitle
%td{:class => "#{diff_class} level"}= music_diffs[course_music.diff]
%td{:class => "#{diff_class} level"}= course_music.level_to_s
%td{:class => "#{diff_class} notes"}= course_music.notes_to_s
