- if musics.present?
  %div.unit
    %h2= type_name
    %div.subunit
      %table.music_list
        - unless mobile?
          %thead
            %tr
              - if CxbRank::SiteSettings.cxb_mode?
                %th.number{:rowspan => 2} #
              %th.title{:rowspan => 2} タイトル
              - CxbRank::SiteSettings.music_diffs.keys.sort.each do |diff|
                - diff_class = CxbRank::SiteSettings.music_diffs[diff].downcase
                %th{:class => diff_class, :colspan => 2}= CxbRank::SiteSettings.music_diffs[diff]
            %tr
              - CxbRank::SiteSettings.music_diffs.keys.sort.each do |diff|
                - diff_class = CxbRank::SiteSettings.music_diffs[diff].downcase
                %th{:class => "#{diff_class} level"} Lv
                %th{:class => "#{diff_class} notes"} Notes
        %tbody
          - musics.each do |music|
            = haml :music, :locals => {:music => music}
