%table.skill_conf
  - unless mobile?
    %thead
      %tr
        %th.course_level レベル
        %th 完奏
        %th.point RP
        - if defined? prev_skill
          %th.point 差異
        %th.rate RATE
        %th.combo コンボ
  %tbody
    %tr.etc
      - unless mobile?
        %td.level= skill.course.level_to_s
      - if skill.cleared?
        %td.mark ○
      - elsif skill.played?
        %td.mark ×
      - else
        %td.mark －
      %td.point= skill.point_to_s
      - if defined? prev_skill
        - difference = (skill.point || 0.0) - (prev_skill.point || 0.0)
        - if difference == 0.0
          %td.rate &plusmn;0.00
        - else
          - difference_class = (difference > 0.0 ? 'inc' : 'dec')
          %td{:class => "rate #{difference_class}"}= sprintf('%+.2f', difference)
      - unless skill.played?
        %td.status{:colspan => 2}= CxbRank::SP_STATUSES[skill.stat]
      - else
        %td.rate= skill.rate_to_s
        %td.combo= CxbRank::SP_COMBO_STATUSES[skill.combo]
- if skill.comment.present?
  %p
    コメント:
    &= skill.comment
