= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI, CxbRank::SKILL_LIST_EDIT_URI]}
%h1
  = page_title
  - if mobile?
    %br
  %small= "[#{curr_skill.music.full_title}]"
- if curr_skill.id
  %p.last_modified= "最終更新時刻: #{curr_skill.updated_at.strftime('%Y-%m-%d %H:%M:%S')}"
%div.unit
  %h2 現在の登録情報
  %div.subunit
    - unless curr_skill.id
      %p この曲のプレイ情報は登録されていません。
    - else
      = haml :skill, :locals => {:skill => curr_skill}
%div.unit
  %h2 編集フォーム
  %div.subunit
    %p <em>「未取得/ロック譜面」をチェックすると計算対象外になります</em>
    = haml :temp_skill, :locals => {:skill => temp_skill}
