= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI]}
%h1
  = page_title
  - if date.present?
    %small= "[#{date.strftime('%Y-%m-%d')}]"
- if music_set.last_modified
  %p.last_modified 最終更新時刻: #{music_set.last_modified.strftime('%Y-%m-%d %H:%M:%S')}
%p 間違いがあれば、ご指摘ください。確認の上、修正を行います。
- if CxbRank::SiteSettings.rev_mode?
  %p<
    = image_tag CxbRank::SiteSettings.join_site_image_base('padlock.png'), :alt => '&#x1f512;', :height => 12
    マークのついている曲は初期状態でプレイできない曲です
  %p<
    UNLIMITED譜面のレベルは解禁条件で色分けしています（
    %span{:class => 'unlock_unl_s'} 青
    MASTERをSクリア /
    %span{:class => 'unlock_unl_sp'} 緑
    MASTERをS+クリア /
    %span{:class => 'unlock_unl_fc'} 赤
    MASTERをフルコンボ
    ）
- CxbRank::SiteSettings.music_types.keys.sort.each do |type|
  - if [CxbRank::MUSIC_TYPE_REV_COURSE, CxbRank::MUSIC_TYPE_REV_COURSE_LIMITED].include?(type)
    = haml :courses, :locals => {:courses => music_set[type], :type_name => CxbRank::SiteSettings.music_types[type]}
  - elsif !CxbRank::SiteSettings.rev_rev1st_mode? and [CxbRank::MUSIC_TYPE_REV_SINGLE].include?(type)
    - CxbRank::REV_CATEGORIES.keys.sort.each do |category|
      = haml :musics, :locals => {:musics => music_set[type][category], :type_name => CxbRank::REV_CATEGORIES[category]}
  - else
    = haml :musics, :locals => {:musics => music_set[type], :type_name => CxbRank::SiteSettings.music_types[type]}
