= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI]}
%h1
  = page_title
  - if defined? date
    %small= " [#{date.strftime('%Y-%m-%d')}]"
- if skill_set.last_modified
  %p.last_modified 最終更新時刻: #{skill_set.last_modified.strftime('%Y-%m-%d %H:%M:%S')}
- if defined? user
  = haml :user, :locals => {:user => user, :edit => edit}
%div.unit
  %h2 ランクポイント
  %div.subunit
    = haml :points, :locals => {:skill_set => skill_set}
- music_types.keys.sort.each do |type|
  - if type == CxbRank::MUSIC_TYPE_REV_COURSE
    = haml :course_skills, :locals => {:skills => skill_set[type][:skills], :edit => edit, :type_name => music_types[type]}
  - else
    - next if type == CxbRank::MUSIC_TYPE_REV_LIMITED and skill_set[type][:skills].empty?
    = haml :music_skills, :locals => {:skills => skill_set[type][:skills], :edit => edit,
      :ignore_locked => ignore_locked, :type_name => music_types[type], :bonus => (type == CxbRank::MUSIC_TYPE_REV_BONUS)}
