= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI]}
%h1
  = page_title
  - if defined? date and date.present?
    %small= " [#{date.strftime('%Y-%m-%d')}]"
- if skill_set.last_modified
  %p.last_modified 最終更新時刻: #{skill_set.last_modified.strftime('%Y-%m-%d %H:%M:%S')}
- if defined? user and user.present?
  = haml :user, :locals => {:user => user, :edit => edit}
%div.unit
  %h2 ランクポイント
  %div.subunit
    = haml :points, :locals => {:skill_set => skill_set}
- CxbRank::SiteSettings.music_types.keys.sort.each do |type|
  - next if CxbRank::MUSIC_TYPE_ST_COUNTS[type] == 0 or skill_set[type].nil? or skill_set[type][:skills].empty?
  - if [CxbRank::MUSIC_TYPE_REV_COURSE, CxbRank::MUSIC_TYPE_REV_COURSE_LIMITED].include?(type)
    = haml :course_skills, :locals => {:skills => skill_set[type][:skills], :edit => edit,
      :type_name => CxbRank::SiteSettings.music_types[type]}
  - else
    = haml :music_skills, :locals => {:user => user, :skills => skill_set[type][:skills],
      :edit => edit, :ignore_locked => ignore_locked, :type => type}
