<script type="text/javascript" src="http://maplia.jp/script/jquery.json2table.js"></script>
<script type="text/javascript" src="script/rankcalc.js"></script>
<script type="text/javascript">
	var data = null;
	var diffs = null;
	$(document).ready(function () {
		data = <%= data.to_json %>;
		diffs = <%= diffs.to_json %>;
		initialize();
	});
</script>
<p class="top_navi"><a href="<%= SITE_TOP_URI %>"><%= $mobile ? '' : $config.name %> トップ</a> &gt; <%= page_title %></p>
<h1><%= page_title %></h1>
<p>あるランク/クリアレートを取得するのに許容されるミスの数を譜面ごとに表示します</p>
<p>※ノート数がデータベース未登録の曲は表示されません</p>
<div class="unit">
	<p>
		曲名: <select id="select_music" onKeyUp="changeChart();" onKeyDown="changeChart();" onChange="changeChart();"></select>
	</p>
	<h2>ランク</h2>
	<div class="subunit">
		<p>許容されるCool未満の数です</p>
		<table class="calc" id="table_rank_chart"></table>
	</div>
	<h2>クリアレート</h2>
	<div class="subunit">
		<p>すべてCool以上でフルコンボ時の許容Cool数です</p>
		<table class="calc" id="table_rate_chart"></table>
	</div>
</div>
