= haml :navi
%h1= settings.site_name
%div.sidebar
  = haml :common_sidebar
  %div.unit
    %h2 リンク
    %div.subunit
      %dl
        %dt ■公式サイト
        %dd
          %ul
            %li #{link_to '公式サイト', 'http://www.capcom.co.jp/arcade/rev/'}
        %dt ■Wiki/個人サイト
        %dd
          %ul
            %li #{link_to 'crossbeats REV.Wiki', 'http://crossbeatsrev.wiki.fc2.com/'}
            %li #{link_to 'MapWiki - crossbeats REV.', 'http://wiki.maplia.jp/?crossbeats%20REV.'}
        %dt ■姉妹サイト
        %dd
          %ul
            %li #{link_to 'CxB RankPoint Simulator', 'http://cxbrank.maplia.jp/'}
%div.main
  %div.unit
    %h2 このサイトについて
    %div.subunit
      %dl
        %dt これは何ですか?
        %dd
          %p #{link_to 'カプコン', 'http://www.capcom.co.jp/'}のアーケードゲーム「#{link_to 'crossbeats REV.（クロスビーツ レヴ）', 'http://www.capcom.co.jp/arcade/rev/'}」のランクポイント管理Webアプリケーションです。「#{link_to 'CxB RankPoint Simulator', 'http://cxbrank.maplia.jp/'}」のREV.対応版となります。
          %p 登録はご自由にどうぞ。
          %p 何か不都合があった場合などの問い合わせは、Twitterのアカウント #{link_to '@maplia', 'https://twitter.com/maplia'}で受けつけますので、お気軽にご連絡いただければと思います。
        %dt ブックマークレット
        %dd
          - bookmarklet_whole = %q[javascript:(function(){if(location.href=='https://rev-www.ac.capcom.jp/profile'){if(confirm('REV. RankPoint Simulatorを更新します')){var elem=document.createElement('script');elem.src='https://secure508.sakura.ne.jp/revtest.maplia.jp/javascripts/data_import_whole.js?'+new Date().getTime();document.getElementsByTagName('head')[0].appendChild(elem);}}else{alert('crossbeats REV. MY DATAのトップページから実行してください');}})()]
          - bookmarklet_single = %q[javascript:(function(){if(location.href.indexOf('https://rev-www.ac.capcom.jp/playdatamusic/')==0){if(confirm('REV. RankPoint Simulatorを更新します')){var elem=document.createElement('script');elem.src='https://secure508.sakura.ne.jp/revtest.maplia.jp/javascripts/data_import_single.js?'+new Date().getTime();document.getElementsByTagName('head')[0].appendChild(elem);}}else{alert('crossbeats REV. MY DATAのミュージックデータ詳細ページから実行してください');}})()]
          %p 「REV.」では#{link_to 'Web上のMY DATAページ', 'https://rev-www.ac.capcom.jp/weblogin'}でプレイデータの閲覧を行うことができるため、このデータを取り込むことができるようにするためにブックマークレットによる更新方法を用意しています。以下のURLをブックマークに登録して、それぞれで指定するページで開いてください。
          %dl
            %dt 全曲更新版
            %dd
              %p MY DATAに存在するすべての曲のデータを更新します。#{link_to 'MY DATAにログインした直後に表示されるページ', 'https://rev-www.ac.capcom.jp/profile'}にいる状態で登録したブックマークを開きます。
              %pre= bookmarklet_whole
            %dt 単曲更新版
            %dd
              %p 1曲単位で任意の曲のデータを更新します。ミュージックデータ詳細ページにいる状態で登録したブックマークを開きます。
              %pre= bookmarklet_single
            %dt ブックマーク登録 (PC)
            %dd
              %p PCの場合は、右記リンクをブックマークとして登録します。 → #{link_to '全曲更新版', bookmarklet_whole} / #{link_to '単曲更新版', bookmarklet_single}
              %p ※ChromeおよびFirefox（ともに最新版 @ Windows 10）での動作を確認しています
            %dt ブックマーク登録 (スマートフォン)
            %dd
              %p スマートフォンの場合は、右記リンクをブックマークとして登録します。 → #{link_to '全曲更新版', "./##{bookmarklet_whole}"} / #{link_to '単曲更新版', "./##{bookmarklet_single}"}
              %p ブックマークとして登録した後、ブックマークの編集でURLから「javascript:」よりも前の部分を削除してください。
              %p ※iPhone 5S（iOS 8.4搭載）の、Safariでの動作を確認しています
  %div.unit
    %h2 最近の登録曲
    %div.subunit
      = haml :new_music
  %div.unit
    %h2 最新の運営情報
    %div.subunit
      = yield
