= haml :navi, :locals => {:ancestry => [CxbRank::SITE_TOP_URI]}
%h1= "#{settings.site_name} #{page_title}"
%div.sidebar
  %div.unit
    %h2 目次
    %div.subunit
      %ul
        %li #{link_to 'データ更新ブックマークレット', '#bookmarklet'}
        %li #{link_to 'ランクポイント', '#calc'}
%div.main
  %div.unit
    %h2#bookmarklet データ更新ブックマークレット
    %div.subunit
      - bookmarklet_all = %Q[javascript:(function(){if(location.href=='https://#{settings.mydata_host}/profile'){if(confirm('#{settings.site_name}を更新します')){var elem=document.createElement('script');elem.src='https://#{settings.script_host}/javascripts/data_import_all.js?'+new Date().getTime();document.getElementsByTagName('head')[0].appendChild(elem);}}else{alert('#{settings.mydata_name}のトップページから実行してください');}})()]
      - bookmarklet_music = %Q[javascript:(function(){if(location.href.indexOf('https://#{settings.mydata_host}/playdatamusic/')==0){if(confirm('#{settings.site_name}を更新します')){var elem=document.createElement('script');elem.src='https://#{settings.script_host}/javascripts/data_import_music.js?'+new Date().getTime();document.getElementsByTagName('head')[0].appendChild(elem);}}else{alert('#{settings.mydata_name}のミュージックデータ詳細ページから実行してください');}})()]
      - bookmarklet_class = %Q[javascript:(function(){if(location.href.indexOf('https://#{settings.mydata_host}/playdatachallenge/')==0){if(confirm('#{settings.site_name}を更新します')){var elem=document.createElement('script');elem.src='https://#{settings.script_host}/javascripts/data_import_class.js?'+new Date().getTime();document.getElementsByTagName('head')[0].appendChild(elem);}}else{alert('#{settings.mydata_name}のチャレンジデータ詳細ページから実行してください');}})()]
      %p 「REV.」では#{link_to 'Web上のMY DATAページ', "https://#{settings.mydata_host}/weblogin"}でプレイデータの閲覧を行うことができるため、このデータを取り込むことができるようにするためにブックマークレットによる更新方法を用意しています
      %p なお、この機能を使用する際はユーザー情報としてREV.のユーザーIDを登録する必要があります（REV.のユーザーIDはMY DATAで確認できます）
      %p= image_tag CxbRank::SiteSettings.join_site_image_base('rev_user_id.png')
      %dl
        %dt 全データ更新版
        %dd
          %p MY DATAに存在するすべてのデータを更新します
          %p #{link_to 'MY DATAにログインした直後に表示されるページ', "https://#{settings.mydata_host}/profile"}にいる状態で登録したブックマークを開きます
          %pre= bookmarklet_all
        %dt 単曲更新版
        %dd
          %p 1曲単位で任意のミュージックRPデータを更新します
          %p ミュージックデータ詳細ページにいる状態で登録したブックマークを開きます
          %pre= bookmarklet_music
        %dt 単コース更新版
        %dd
          %p 1コース単位で任意のチャレンジRPデータを更新します
          %p チャレンジデータ詳細ページにいる状態で登録したブックマークを開きます
          %pre= bookmarklet_class
        %dt ブックマーク登録 (PC)
        %dd
          %p PCの場合は、右記リンクをブックマークとして登録します → #{link_to '全データ更新版', bookmarklet_all} / #{link_to '単曲更新版', bookmarklet_music} / #{link_to '単コース更新版', bookmarklet_class}
          %p ※ChromeおよびFirefox（ともに最新版 @ Windows 10）での動作を確認しています
        %dt ブックマーク登録 (スマートフォン)
        %dd
          %p スマートフォンの場合は、右記リンクをブックマークとして登録します → #{link_to '全データ更新版', "##{bookmarklet_all}"} / #{link_to '単曲更新版', "##{bookmarklet_music}"} / #{link_to '単コース更新版', "##{bookmarklet_class}"}
          %p ブックマークとして登録した後、ブックマークの編集でURLから「javascript:」よりも前の部分を削除してください
          %p ※iPhone 5S（iOS 8.4搭載）の、Safariでの動作を確認しています
  %div.unit
    %h2#calc ランクポイント
    %div.subunit
      %dl
        %dt 合計対象
        %dd
          %p ランクポイントは現在以下の項目の合計で算出しています
          %ol
            %li
              <u>単曲RPのうち、数値が大きい順に並べた上位20曲分のRP合計</u>
              %ul
                %li このRP計算では、クリアレートの小数点以下はすべて切り捨てます
            %li
              <u>単曲RPのうち、<em>すべて</em>のUNLIMITED譜面RPの1%の合計</u>
              %ul
                %li RPの1%を合計したあとに、その小数点以下第2位未満を切り捨てます
                %li このRP計算では、クリアレートの小数点以下まで含めます
                %li MASTER以下の譜面がその曲の最大RPになっていても合計対象です
            %li
              <u>チャレンジRPのうち、数値が最も大きい1コースのRP</u>
          %p クリアレートからRP算出するまでの処理はこのRPシミュレータでは行っていないので省きます
        %dt 計算対象外の曲/譜面
        %dd
          %p 実機では未解禁楽曲/未解禁UNLIMITED譜面（MUSIC PLAYで通常選択できないもの）、および期間限定として出現している曲のすべての譜面は計算対象外となります
          %ul
            %li
              未解禁のものについてはMY DATAの表示からは判別することができないので、このRPシミュレータでは明示的に未解禁状態を設定しない限りは計算対象外にはしていません
              %ul
                %li
                  未解禁の曲の成績がRP上位20曲に入る場合、UNLIMITED譜面ボーナスの表示値が狂うこと（負の数にもなりえます）がありますが、その曲に未解禁状態を設定して対処をお願いします
                  %br
                  = image_tag CxbRank::SiteSettings.join_site_image_base('set_locked.png')
            - # %li 期間限定曲は出現期間が終了するとMY DATAに表示されなくなります。RPシミュレータの表示には残しますが、ブックマークレットからの更新はできなくなります
