- if musics.present?
  %div.unit
    %h2= (defined?(type) ? CxbRank::SiteSettings.music_types[type] : CxbRank::REV_CATEGORIES[category])
    %div.subunit
      %table.music_list
        - unless mobile?
          %thead
            %tr
              - if CxbRank::SiteSettings.cxb_mode?
                %th.number{:rowspan => 2} #
              %th.title{:rowspan => 2} タイトル
              - CxbRank::SiteSettings.music_diffs.keys.sort.each do |diff|
                - diff_class = CxbRank::SiteSettings.music_diffs[diff].downcase
                %th{:class => diff_class, :colspan => 2}= CxbRank::SiteSettings.music_diffs[diff]
            %tr
              - CxbRank::SiteSettings.music_diffs.keys.sort.each do |diff|
                - diff_class = CxbRank::SiteSettings.music_diffs[diff].downcase
                %th{:class => "#{diff_class} level"} Lv
                %th{:class => "#{diff_class} notes"} Notes
        %tbody
          - if CxbRank::SiteSettings.cxb_mode? and type == CxbRank::MUSIC_TYPE_SPECIAL
            - musics = musics.to_a.sort do |a, b| a.monthly.id <=> b.monthly.id end
          - if CxbRank::SiteSettings.rev_sunrise_mode?
            - unless mobile?
              - colspan = 1 + CxbRank::SiteSettings.music_diffs.size * 2
            - else
              - colspan = 3 * 2
            - musics.each_with_index do |music, i|
              - if i == 0 or music.appear != musics[i-1].appear
                %tr
                  %th{:class => CxbRank::REV_VERSION_CLASSES[music.appear], :colspan => colspan}= CxbRank::REV_VERSIONS[music.appear]
              = haml :music, :locals => {:music => music}
          - else
            - musics.each do |music|
              = haml :music, :locals => {:music => music}
